<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <!--
            Set compilation debug="true" to insert debugging
            symbols into the compiled page. Because this
            affects performance, set this value to true only
            during development.
        -->
    <compilation debug="true" targetFramework="4.6.2"/>
    <!--
            The <authentication> section enables configuration
            of the security authentication mode used by
            ASP.NET to identify an incoming user.
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration
            of what to do if/when an unhandled error occurs
            during the execution of a request. Specifically,
            it enables developers to configure html error pages
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <!--
    For systems running under IIS prior to v7.0 and for IIS 7.0
    sites running in classic mode

    The .Barcode file extension will need to be associated with ASP.NET
    from within IIS Manager and the "Check if the file exists" checkbox
    must be cleared.
    -->
      <add verb="GET" path="*.Barcode" type="Zen.Barcode.Web.BarcodeImageHandler, Zen.Barcode.Web, Culture=Neutral, Version=3.1.0.0, PublicKeyToken=b5ae55aa76d2d9de"/>
      <!--
    Use the simple barcode rendering extension if you wish to pass barcode
    information in the query string without using the special URI builder.
    -->
      <!--<add verb="GET"
       path="Simple.Barcode"
       type="Zen.Barcode.Web.SimpleBarcodeImageHandler, Zen.Barcode.Web, Culture=Neutral, Version=2.1.0.0, PublicKeyToken=b5ae55aa76d2d9de" />-->
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="barcode" namespace="Zen.Barcode.Web" assembly="Zen.Barcode.Web, Culture=Neutral, Version=3.1.0.0, PublicKeyToken=NULL"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <!--
    For systems running under IIS v7.0 and above in integrated mode

    The .Barcode file extension will need to be associated with ASP.NET
    from within IIS Manager and the "Check if the file exists" checkbox
    must be cleared.
    -->
      <add name="BarcodeImage" verb="GET" path="*.Barcode" preCondition="integratedMode" type="Zen.Barcode.Web.BarcodeImageHandler, Zen.Barcode.Web, Culture=Neutral, Version=3.1.0.0, PublicKeyToken=b5ae55aa76d2d9de"/>
      <!--
    Use the simple barcode rendering extension if you wish to pass barcode
    information in the query string without using the special URI builder.

    In this case the image filename is hardwired to simple.barcode
    See the class SimpleBarcodeImageHandler for information on query parameters
    -->
      <!--<add name="SimpleBarcodeImage"
       verb="GET"
       path="Simple.Barcode"
       preCondition="integratedMode"
       type="Zen.Barcode.Web.SimpleBarcodeImageHandler, Zen.Barcode.Web, Culture=Neutral, Version=3.1.0.0, PublicKeyToken=b5ae55aa76d2d9de" />-->
    </handlers>
  </system.webServer>
</configuration>